extends layout

block content
  div(class='container', id="container")
    h1(class='display') Welcome user #{UID}
    p Choose your class!
    select#characterSelect(name='character')
        each character in classes 
            option(value=character.class_id) #{character.class_name}
    br
    input(type='button' value='Apply' onclick='chooseCharacter()')
  script(src='/socket.io/socket.io.js')
  script(src='/javascripts/content_handler.js')
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
  script.
    UID = "#{UID}";