extends layout

block content
  div(class="container")
    h1(class='display') Choose your username to play the game.
    form(class='loginForm' method='POST' action='/login')
        input#username(type='text' name='UID' placeholder='Your name...' required=true)
        br
        input(type='submit' value='Enter game')
