extends layout

block content
  h1= title
  p Welcome to #{title}
  form(method='POST' action='/login')
      label(for='username') Username:
      br
      input#username(type='text' name='username')
      br
      input(type='submit' value='Enter game')
